.finalScoreText {
  position: absolute;

    left: 50%;
    transform: translateX(-50%);
    color: #555;
    border: none;
    font-family: Lato;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    top: 80px;
}

.span-text {
  font-size: 60px;
  color: #EB4D4D;
}